@import "bootstrap/scss/bootstrap";

.container {
  max-width: 960px;
}

.index-button-group {
  @include media-breakpoint-up(sm) {
    float: right;
  }
}

.btn {
  @include media-breakpoint-down(sm) {
    width: 100%;
  }  
}

.formatted-text {
  margin: 0;
  white-space: pre-wrap;
}

.app-side {
}

.app-side__actions {
  .btn {
    width: 100%;
  }
}